<div class="box mat-elevation-z8">
  <div *ngIf="bankAccounts">
    <mat-toolbar>
      New credit
      <fa-icon class="ml-2" matTooltip="This must be approved by an employee." [icon]="faQuestionCircle"></fa-icon>
    </mat-toolbar>
    <form [formGroup]="form">
      <div class="col-md-10">

        <div class="mt-2">Select a bank account
        </div>
        <mat-form-field style="width:100%">
          <mat-label>Bank account</mat-label>
          <mat-select [(ngModel)]="selectedBankAccount" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount">
              {{bankAccount.number}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        Total balance<span matTooltip="Bank account for which cash is approved upon approval of the loan."
                            aria-label="Tooltip">
                (?)</span>
        <mat-form-field style="width:100%">
          <mat-label class="mt-2">Balance</mat-label>
          <mat-select formControlName="destinedSaldoId" (selectionChange)="switchCurrencyType($event)">
            <mat-option *ngFor="let saldo of selectedBankAccount?.saldos" [value]="saldo.id">
              {{ saldo.currencyType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        Amount:
        <ng5-slider [(value)]="balanceSliderValue" formControlName="totalBalance"
                    (valueChange)="calculateInstallment($event)" [options]="balanceSlider"></ng5-slider>

        Ilość wpłat:
        <ng5-slider [(value)]="monthSliderValue" formControlName="totalInstallmentCount"
                    (valueChange)="calculateInstallment($event)" [options]="monthSlider"></ng5-slider>

        <div *ngIf="currencyType">
          Wysokość jednej wpłaty: {{ installmentValue | currency: currencyType }}
        </div>
      </div>

      <mat-divider></mat-divider>
      <mat-toolbar>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="createCredit()">Send</button>
      </mat-toolbar>
    </form>
  </div>
  <div *ngIf="!bankAccounts">
    <mat-spinner></mat-spinner>
  </div>
</div>
